/* variables */
:root {
   --input-bg: #f5f8ff;
   --txt-second-color: #ccc;
   --text-color: #999;
   --primary-color: #4267b2;
   --bg-color: #f4f4f4;
}
 
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

body {
   margin: 0;
   font-size: 1.1em;
 }

ul,
li,
p,
h1,
h2,
h3,
h4 {
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}

.page-title {
   font-size: 1em;
   color: var(--heading-color);
   display: inline-block;
}

button {
   background: #fff;
   padding: 8px 12px;
   border-radius: 4px;
   color: var(--primary-color);
   cursor: pointer;
   font-size: 1em;
   border: 1px solid var(--primary-color);
   width: 310px;
   height: 50px;
}

button:hover {
   color: #fff;
   background-color: var(--primary-color);
}

label span {
   display: block;
   margin-bottom: 6px;
}

input {
   padding: 8px 6px;
   font-size: 1em;
   color: #777;
   width: 100%;
   box-sizing: border-box;
   border: 1px solid #ddd;
   border-radius: 4px;
}


.error {
   color: red;
   font-size: 0.8em;
}
